body {
  background-color: white;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, li, a, p {
  font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
}
#navWrapper {
  padding: 20px 0 20px 10px;
  margin: auto;
  max-width: 1400px;
  
}
#headNav {
  display: inline-flex;

}
img#logoSVG {
  height: 40px;
  display: inline-flex;
  margin: auto;
  vertical-align: middle;
}
#cartSVG, #searchSVG {
  width: 24px;
}
#searchSVG {
  display: inline-flex;
  margin: auto;
  background-color: #f1641e;
  width: 48px;
  height: 100%;
  vertical-align: middle;
  border-radius: 50%;
}
#searchSVG img {
  float: right;
  width: 24px;
  margin: auto;
}
#search {
  display:inline-flex;
  min-width: 74%;
  max-width: 82%;
  border: 2px solid #222;
  border-radius: 45px;
  margin: 0 5px 0 20px;
  padding-left: 20px;
  height: 50px;
}
#search p {
  display: inline-flex;
  width: 93%;
}

#account, #account li {
  display:inline-flex;
  float: right;
}
ul {
  margin: 0;
  padding: 15px 0 0 0;
}
ul#navAccount li {
  list-style-type: none;
  margin: 0 8px 0 0;
  vertical-align: top;
}
#banner {
  position: relative;
  padding-top: 20px;
}

#banner:before{
  content: "";
  border-top: 1px solid #bbb;
  background-color: rgb(255,222,191);
  position: absolute;
  width: 100vw;
  top: 0;
  height: 80%;
  z-index: -999;
}
#banner h1{
  text-align: center;
  /* font-family: "Bell MT"; */
  color: #222;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 32px;
  line-height: 36px;
}
main {
  padding: 0;
  margin: 80px 0 0 0;
  max-width: 1400px;
}
/*BubbleGrid*/
ul.bubbles {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  width: 100vw;
  margin: auto;
  max-width: 1000px;

}
ul.bubbles li{
  max-width:100%;
  display: inline-block;
  margin: 5px auto 0 auto;
  padding: 0;

}
#searchNav a:before {
  content: '';
  position: relative;
  display: block;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eeece9;
  border: 1px solid #d4b9a0;
  margin-bottom: 10px;
  /* transition: width ease 0.9s, height ease 0.9s; */
}
#bubble1 a:before {
  background-image: url(../img/leaf1.png);
}
#bubble2 a:before {
  background-image: url(../img/cupcake_Pink_02.png);
}
#bubble3 a:before {
  background-image: url(../img/monarch_01.png);
}
#bubble4 a:before {
  background-image: url(../img/snowflake_01.png);
}
#bubble5 a:before {
  background-image: url(../img/christmasTree_02.png);
}
#bubble6 a:before {
  background-image: url(../img/snowman_01.png);
}
/* li.categoryBubble img {
  width: 110px;
  height: 110px;
  background-color: #eeece9;
  border: 1px solid #d4b9a0;
  border-radius: 90px;
} */
.categoryBubble a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #222;
}
.topicButtons {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  
}
label.topicButton {
  display: inline-block;
  min-width: 48px;
  min-height: 48px;
  background-color: aquamarine;
}
input[type=radio] {
  opacity:0;
  position: absolute;
}

img.lightbox {
  max-width: 90vw;
  max-height: 90vh;
  margin: 5vh auto;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

div.lightboxDiv {
  width: 100vw;
  height: 100vh;
  position: fixed;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.95);
  top: 0%;
  left: 0;
  z-index: 999;
}

/**mobile versions */
  
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1025px) {

  ul.bubbles {    
    gap: 1rem;
    max-width: 900px;
  }
}
@media only screen and (max-width: 900px) {
  #searchNav a:before {
    width: 90px;
    height: 90px;
  }
  ul.bubbles {
    gap: .2rem;
    max-width: 840px;
  }
}
@media only screen and (max-width: 768px) {
  #searchNav a:before {
    width: 114px;
    height: 114px;
  }
  ul.bubbles {
    grid-template-columns: 1fr 1fr 1fr;
    gap: .2rem;
    max-width: 1100px;
  }
}
@media only screen and (max-width: 490px) {
  #searchNav a:before {
    width: 80px;
    height: 80px;
  }
  ul.bubbles {
    gap: .2rem;
  }

}
@media only screen and (max-width: 359px) {
  #searchNav a:before {
    width: 60px;
    height: 60px;
  }
  ul.bubbles {
    grid-template-columns: 1fr 1fr;
    gap: .2rem;
    max-width: 800px;
  }
}