body {
  background-color: white;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}
h1, h2, h3, h4, h5, li, a, p {
  font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
}
header {
  padding: 20px 0 20px 10px;
  margin: auto;
  max-width: 1400px;  
}
main {
  padding: 0;
  margin: 80px auto 0 auto;
  max-width: 1200px;
}


/* Nav Bar  */
#headNav {
  display: inline-flex;
  margin: 0 10px 0 0px;
}
img#logoSVG {
  height: 40px;
  display: inline-flex;
  margin: auto;
  vertical-align: middle;
}
#cartSVG, #searchSVG {
  width: 24px;
}

/* Search bar and icon */
#search {
  display:inline-flex;
  width: calc(100% - 240px);
}

form#globalSearchForm, #searchBar {
  width: 100% !important;
}
#searchBar {
  display: inline-flex;
  margin: auto;
}
#search input {
  display: inline-flex;
  margin: auto;
  width: 100%;
  border: 2px solid #222;  
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
  height: 47px;
  padding: 0 0 0 10px;
  font-family: "Guardian-EgypTT","Charter","Charter Bitstream","Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
  font-size: 16px;
  outline: none;
}
button.globalSearch_icon div {
  width: 25px;
  height: 25px;
  padding: 6px;
  margin-right: 4px;
  margin-top: 1px;
  background-color: #ff925c;
  border-radius: 50%;
}
button.globalSearch_icon section img {
  width: 24px;
}
button.globalSearch_icon {
  border: 2px solid #222;  
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-left: 0;
  padding: 0;
}
#searchBar:hover .globalSearch_icon {
  background-color: #ff925c;
}
button {
  background-color: #fff;;
}
button:hover {
  cursor: pointer;
}
/* button::before {
  content: "";
  background: unset;
  background-color: rgba(0 0 0 0);
  border-width: 2px;
  border-style: solid;
  border-color: rgba(0 0 0 0);
  box-shadow: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
} */

/* Cart and sign in link */
#account {
  display: inline-flex;
  width: 100px;
  margin-left: 20px;
}
#account li {
  display:inline-flex;
  margin-left: 10px;
}
ul#navAccount {
  margin: 0;
  padding: 15px 0 0 0;
}
ul#navAccount li {
  list-style-type: none;
  margin: 0 8px 0 0;
  vertical-align: top;
}

/* navigation line*/
nav {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  list-style-type: none;
  max-width: 600px;
  padding: 0;
}

nav a {
  margin-top: 14px;
  color: black;
  text-decoration: none;
}



/*Responsive Hamburger*/


#hamburger {
  display: none;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 50px;
  top: 5px;
  right: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #222222;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 14px;
}


/*Banner styling*/
#banner {
  position: relative;
  padding-top: 20px;
}
#banner:before{
  content: "";
  border-top: 1px solid #bbb;
  background-color: rgb(255,222,191);
  position: absolute;
  width: 100%;
  top: 0;
  height: 80%;
  z-index: -999;
}
#banner h1{
  text-align: center;
  color: #222;
  font-weight: 300;
  letter-spacing: .5px;
  font-size: 32px;
  line-height: 36px;
}



/*BubbleGrid*/
ul#categoryBubbles {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
  list-style-type: none;
  width: 100vw;
  margin: auto;
  max-width: 1100px;
  padding: 0; 
}
ul#categoryBubbles li{
  max-width:100%;
  display: inline-block;
  margin: 5px auto 0 auto;
}
#categoryBubbles a:before {
  content: '';
  position: relative;
  display: block;
  width: 114px;
  height: 114px;
  border-radius: 50%;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #eeece9;
  border: 1px solid #d4b9a0;
  margin-bottom: 10px;
  /* transition: width ease 0.9s, height ease 0.9s; */
}
#bubble1 a:before {
  background-image: url(../img/leaf1.png);
}
#bubble2 a:before {
  background-image: url(../img/cupcake_Pink_02.png);
}
#bubble3 a:before {
  background-image: url(../img/monarch_01.png);
}
#bubble4 a:before {
  background-image: url(../img/snowflake_01.png);
}
#bubble5 a:before {
  background-image: url(../img/christmasTree_swirl.svg);
}
#bubble6 a:before {
  background-image: url(../img/snowman_01.png);
}
.categoryBubble a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #222;
}

/* Button Field */

form#topicSearch legend{
  display: none;
}
form#topicSearch fieldset {
  border: none;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: -6px;
  max-width: 380px;
  padding-left: 0;
  margin-left: 0;
}
form#topicSearch fieldset p {
  background-color: rgb(233,233, 233);
  border-radius: 24px;
  display: inline-block;
  font-size: 16px;
  margin: 4px;
  padding: 12px 12px;
  min-width: 48px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
label.topicButton {
  display: inline-block;
  min-width: 48px;
  min-height: 48px;
  background-color: aquamarine;
}
input[type=radio] {
  opacity:0;
  position: absolute;
}

.transparent {
  opacity: 0;
}
.fadeable { 
  transition: opacity .5s ease-in;
}



/* Lightbox */
img.lightbox {
  max-width: 90vw;
  max-height: 90vh;
  margin: 5vh auto;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
div.lightboxDiv {
  width: 100vw;
  height: 90vh;
  border: 5px solid  rrgb(110, 110, 110);
  position: fixed;
  margin: auto;
  background-color: rgba(229, 229, 229, 0.95);
  top: 0;
  left: 0;
  z-index: 999;
}


/* Playground */
h1#myTag {
  text-align: center;
  margin-top: 10px;
}

#formsTutorial {
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 340px;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  
}

#formsTutorial input, textarea {
  border: 1px solid  rgba(66, 58, 54, 0.9);
  border-radius: 0;
  margin: 10px 0 0 10px;
  font: 1em "Cambria","Noto Serif Light","Droid Serif","Georgia","serif";
  width: 300px;
  box-sizing: border-box;

}
#formsTutorial textarea {
  height: 5em;
  vertical-align: top;
}
#formsTutorial ul {
  list-style: none;
  padding: 0;
  margin: 40px 0 0 0;
}
#formsTutorial label {
  display: inline-block;
  width: 90px;
  text-align: left;
  margin-left: 0.5em;
}
form#formsTutorial li + li {
  margin-top: 1em;
}
#formsTutorial button {
  height: 30px;
  width: 150px;
  background-color: rgba(255, 146, 92, .9);
  margin-top: 14px;
  margin-left: 0;  
  border-radius: 18px;
}
#formsTutorial .button {
  padding-left: 0px;
}
/**mobile versions */
  
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1118px) {

  ul#categoryBubbles {    
    max-width: 1100px;
  }

}
@media only screen and (max-width: 960px) {
  #categoryBubbles a:before {
    width: 100px;
    height: 100px;
  }
  ul#categoryBubbles {
    /* max-width: 1200px; */
  }
}



@media only screen and (max-width: 800px) {
  #categoryBubbles a:before {
    width: 114px;
    height: 114px;
  }
  ul#categoryBubbles {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 700px;
  }
  #hamburger {
    display: inline;
  }
  nav {
    display: none;
  }
  #search {
    display:inline-flex;
    width: calc(100% - 40px);
    margin-top: 40px;
  }
  #account {
    position: absolute;
    float: right;
    top: 5px;
    right: 0;
  }
  #headNav {
    position: absolute;
    float: left;
    top: 5px;
  }
  /* #navSmall {
    display: inline;
  }
  #hamburger {
    width: 30px;
  }
  search-box {
    width: calc(100% - 40px);
    margin-top: 40px;
    display: inline-block;
  } */
}







@media only screen and (max-width: 490px) {
  #categoryBubbles a:before {
    width: 95px;
    height: 95px;
  }

}








@media only screen and (max-width: 390px) {
  #categoryBubbles a:before {
    width: 110px;
    height: 110px;
  }
  ul#categoryBubbles {
    grid-template-columns: 1fr 1fr;
    max-width: 380px;
  }  
  #banner:before{
    height: 90%;
    padding-top: 0px;
  }  
  #formsTutorial {
    width: 250px;
  }
  h1#splash {
    width: 350px;
    margin: auto;
    margin-top: 0px;
  }
  #formsTutorial input, textarea {
    width: 210px;
  }
  #formsTutorial textarea {
    height: 3em;
    vertical-align: top;
  }
  #formsTutorial ul {
    margin: 20px 0 0 0;
  }
  #formsTutorial label {
    width: 60px;
  }
  h1#myTag {
    font-size: 1.6em;
  }
  #myTag img {
    width: 140px;
  }
}




@media only screen and (max-width: 350px) {
  ul#categoryBubbles {
    max-width: 300px;
  }
  h1#splash {
    width: 220px;
    margin: auto;
    margin-top: 0px;    
    font-size: 1.9em;
  }


  #search input {
    font-size: 14px;
  }
}



@media only screen and (max-width: 280px) {
  #categoryBubbles a:before {
    width: 80px;
    height: 80px;
  }
  #formsTutorial {
    width: 180px;
  }
  #formsTutorial input, textarea {
    width: 160px;
  }
  #myTag img {
    /* opacity: 0; */
    display: none;
  }
}